.container{
    min-width: 20rem;
    max-width: 90rem;
    margin-inline: auto;
    padding-inline: clamp(1rem, 4% , 10.3125rem);
    overflow: hidden;
}
.flex{
    display: flex;
}
.row{
    flex-flow: row wrap;
    &__clm{
        flex: 1 1;
    }
}
.header{
    padding-block: 1rem 0;
}
.main{
    padding-block: 0 max(5rem, 10%);
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
}
.footer{
    padding-block: 2rem;
    background: $c-blue-dark;
}
@media (min-width:43.75rem){
    .container{
        padding-inline: clamp(1rem, 5% , 10.3125rem);
    }
    .header{
        padding-block: 1.5rem;
    }
}
@media (min-width:62.5rem){
    .container{
        padding-inline: clamp(1rem, 12% , 10.3125rem);
    }
}

